<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <title>Details Student</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Details Student
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr>
                            <th>id</th>
                            <td th:text="${student.getId()}"></td>
                        </tr>
                        <tr>
                            <th>First Name</th>
                            <td th:text="${student.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td th:text="${student.getLastName()}"></td>
                        </tr>
                        <tr>
                            <th>group</th>
                            <td>
                                <a th:href="@{'/groups/details/' + ${student.getGroup().getId()}}" type="button" class="btn btn-link" th:text="${student.getGroup().getName()}"></a>
                            </td>
                        </tr>
                        <tr>
                            <th>created</th>
                            <td th:text="${#calendars.format(student.getCreated(),'dd MMMM yyyy')}"></td>
                        </tr>
                        <tr>
                            <th>updated</th>
                            <td th:text="${#calendars.format(student.getUpdated(),'dd MMMM yyyy')}"></td>
                        </tr>
                    </table>
                    <hr>
                    <a th:href="@{'/students/update/' + ${student.getId()}}" type="button" class="btn btn-primary">Edit student</a>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>